<template>
  <Input :val="value"
         :onInput="onInput" />
</template>

<script>
//controlled components Input
import Input from '@/components/Input.vue';
export default {
  components: {
    Input,
  },
  data() {
    return {
      value: '',
    };
  },
  methods: {
    // step one test it
    // onInput(e) {},

    // step tow test it
    onInput(e) {
      const val = e.target.value;

      if (val.length > 8) {
        this.value = val.slice(0, 8);
        return;
      }
      this.value = e.target.value;
    },
  },
};
</script>
