<template>

  <div class="min-h-screen bg-grey-light p-8">
    <div class="max-w-sm mx-auto">
      <eh-form></eh-form>
    </div>
  </div>
</template>

<script>
import EhForm from './components/EhForm.vue';

export default {
  name: 'app',
  components: {
    EhForm,
  },
};
</script>

<style>
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
</style>
